{% include 'base/navigation.html' %}

		
		

		<!-- Start Page Banner -->

        <div class="page-banner">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2>{{ page_title }} {% if no %} |  {{no}} {% endif %} </h2>

					</div>

				</div>
			</div>
		</div>

		<!-- End Page Banner -->


		
		
		<!-- Start Content -->
		<div id="content">
			<div class="container">

				<div class="row blog-page">
					
					<!-- Start Blog Posts -->
					<div class="col-md-9 blog-box">
						
						{% block contents %}

                        {% endblock %}


					</div>
					<!-- End Blog Posts -->
					
					
					{% include 'base/sidebar.html' %}
					<!--End sidebar-->
					
					
				</div>
			</div>
		</div>
		<!-- End Content -->
		
		
		
		
		<!-- Start Footer -->
		{% include 'base/footer.html' %}
		<!-- End Footer -->
		
	</div>
	<!-- End Container -->
	
	<!-- Go To Top Link -->
	<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
	
	<div id="loader">
		<div class="spinner">
			<div class="dot1"></div>
			<div class="dot2"></div>
		</div>
	</div>
	
	
	
</body>
</html>