{% load staticfiles %}
<!-- Stylesheets -->
  <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/normalize.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}assets/font/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}assets/libs/materialize/css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/bootstrap.css" media="screen,projection" />

  <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/animate.min.css" media="screen,projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}assets/libs/sweetalert/sweet-alert.css" media="screen,projection" />

  <link rel="stylesheet" href="{{ STATIC_URL }}assets/libs/owl-carousel/owl.carousel.css" media="screen,projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}assets/libs/owl-carousel/owl.transitions.css" media="screen,projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}assets/libs/owl-carousel/owl.theme.css" media="screen,projection" />

  <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/main.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/responsive.css">

  <!-- Choose your default colors -->
  <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/colors/color1.css">
