{% load staticfiles %}
<footer>
			<div class="container">
				<div class="row footer-widgets">


					<!-- Start Contact Widget -->
                    <div class="col-md-4">
                        <div class="footer-widget contact-widget">

                            <h4><img src="{% static 'images/kdjohar.png' %}" class="img-responsive" alt="Footer Logo" style="width: 250px; height: 50px;" /></h4>
                            <p> </p>
                            <ul>

                                <li><span>Email:</span> kdjohar91@gmail.com</li>

                            </ul>
                        </div>
                    </div><!-- .col-md-3 -->
                    <!-- End Contact Widget -->


					
					<!-- Start Subscribe & Social Links Widget -->
                    <div class="col-md-4">
                        <div class="footer-widget mail-subscribe-widget">
                            <h4>Get in touch<span class="head-line"></span></h4>
                            <p>Subscribe me to get notices about my new blogs!</p>
                            <form class="subscribe">
                                <input type="text" placeholder="mail@example.com">
                                <input type="submit" class="main-button" value="Send">
                            </form>
                        </div>
                        <div class="footer-widget social-widget">
                            <h4>Follow Me<span class="head-line"></span></h4>
                            <ul class="social-icons">
                                <li>
                                    <a class="facebook" href="https://www.facebook.com/karandeepsingh.johar"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://twitter.com/kdjohar91"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="github" href="https://github.com/KdJohar"><i class="fa fa-github"></i></a>
                                </li>
                                <li>
                                    <a class="google" href="https://plus.google.com/+KarandeepSinghJohar"><i class="fa fa-google-plus"></i></a>
                                </li>
                                
                                <li>
                                    <a class="linkdin" href="https://www.linkedin.com/in/kdjohar"><i class="fa fa-linkedin"></i></a>
                                </li>
                                
                                
                                <li>
                                    <a class="instgram" href="https://instagram.com/kd_johar/"><i class="fa fa-instagram"></i></a>
                                </li>
                                
                                <li>
                                    <a class="skype" href="#"><i class="fa fa-skype"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div><!-- .col-md-3 -->
                    <!-- End Subscribe & Social Links Widget -->
                    
                    
                    <!-- Start Twitter Widget -->
                    <div class="col-md-4">
                        <div class="footer-widget twitter-widget">
                                        <a class="twitter-timeline"  href="https://twitter.com/kdjohar91" data-widget-id="575939129126490112">Tweets by @kdjohar91</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
                        </div>
                    </div><!-- .col-md-3 -->
                    <!-- End Twitter Widget -->


                    

				
				</div><!-- .row -->
				
				<!-- Start Copyright -->
				<div class="copyright-section">
					<div class="row">
						<div class="col-md-6">
							<p>&copy; 2015 kdjohar -  All Rights Reserved</p>
						</div>
						<div class="col-md-6">
							<!--<ul class="footer-nav">
								<li><a href="#">Sitemap</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Contact</a></li>
							</ul> -->
						</div>						
					</div>
				</div>
				<!-- End Copyright -->
				
			</div>
		</footer>