<footer id="footer" class="root-sec white root-sec footer-wrap">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="clearfix footer-inner">
              <ul class="left social-icons">
                 <li><a href="https://www.facebook.com/karandeepsingh.johar" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/kdjohar" class="tooltips tooltipped linkedin" data-position="top" data-delay="50" data-tooltip="Linkdin" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li><a href="https://twitter.com/kdjohar91" class="tooltips tooltipped twitter" data-position="top" data-delay="50" data-tooltip="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://plus.google.com/+KarandeepSinghJohar" class="tooltips tooltipped google-plus" data-position="top" data-delay="50" data-tooltip="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                </li>
                <li><a href="https://github.com/KdJohar" class="tooltips tooltipped github" data-position="top" data-delay="50" data-tooltip="Github" target="_blank"><i class="fa fa-github"></i></a>
                </li>
                <li><a href="https://instagram.com/kd_johar/" class="tooltips tooltipped instagram" data-position="top" data-delay="50" data-tooltip="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
              </ul> <!-- ./social icons end -->
              <div class="right copyright">
                <p>KdJohar &copy; All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- ./container end-->
    </footer>