{% load staticfiles %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}assets/js/jquery.easing.1.3.js"></script>
  <script src="{{ STATIC_URL }}assets/js/detectmobilebrowser.js"></script>
  <script src="{{ STATIC_URL }}assets/js/isotope.pkgd.min.js"></script>
  <script src="{{ STATIC_URL }}assets/js/wow.min.js"></script>
  <script src="{{ STATIC_URL }}assets/js/waypoints.js"></script>
  <script src="{{ STATIC_URL }}assets/js/jquery.counterup.min.js"></script>
  <script src="{{ STATIC_URL }}assets/js/jquery.nicescroll.min.js"></script>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="{{ STATIC_URL }}assets/js/gmaps.js"></script>
  <script src="{{ STATIC_URL }}assets/libs/owl-carousel/owl.carousel.min.js"></script>
  <script src="{{ STATIC_URL }}assets/libs/materialize/js/materialize.min.js"></script>
  <script src="{{ STATIC_URL }}assets/libs/jwplayer/jwplayer.js"></script>
  <script src="{{ STATIC_URL }}assets/libs/sweetalert/sweet-alert.min.js"></script>
  <script src="{{ STATIC_URL }}assets/js/common.js"></script>
  <script src="{{ STATIC_URL }}assets/js/main.js"></script>
  <script src="{{ STATIC_URL }}assets/js/rrssb.js"></script>