
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Kd Johar - {{ page_title }}</title>
  <meta name="keywords" content="{% if meta_keywords %}{{meta_keywords}}{% else %}{{blog.meta_keywords}}{% endif %}">
  <meta name="description" content="{% if meta_description %}{{meta_description}}{% else %}{{blog.meta_description}}{% endif %}">
  <meta name="author" content="Kd Johar">
  <meta name="language" content="English">
  <meta name="revisit-after" content="7 days">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="http://res.cloudinary.com/kdjohar/image/upload/v1430312635/favicon_bsog8m.ico" >