<div class="col-md-3 sidebar right-sidebar">
						
						<!-- Search Widget -->
						<div class="widget widget-search">
							<form action="#">
								<input type="search" placeholder="Enter Keywords..." />
								<button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>

						<!-- Categories Widget -->
						<div class="widget widget-categories">
							<a href="{% url 'category' %}">  <h4>Categories <span class="head-line"></span></h4></a>
							<ul>
                                {% for category in categories %}
								<li>
									<a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
                        <div class="widget">

							<div>
								<a href="http://panel.bullten.net/aff.php?aff=023"><img src="http://panel.bullten.net/images/affiliates/468X60.jpg" width="468" height="60" border="0"></a>
							</div>
						</div>

						<!-- Popular Posts widget -->
                        <!--
						<div class="widget widget-popular-posts">
							<h4>Popular Post <span class="head-line"></span></h4>
							<ul>
								<li>
									<div class="widget-thumb">
										<a href="#"><img src="images/blog-mini-01.jpg" alt="" /></a>
									</div>
									<div class="widget-content">
										<h5><a href="#">How To Download The Google Fonts Catalog</a></h5>
										<span>Jul 29 2013</span>
									</div>
									<div class="clearfix"></div>
								</li>
								<li>
									<div class="widget-thumb">
										<a href="#"><img src="images/blog-mini-02.jpg" alt="" /></a>
									</div>
									<div class="widget-content">
										<h5><a href="#">How To Download The Google Fonts Catalog</a></h5>
										<span>Jul 29 2013</span>
									</div>
									<div class="clearfix"></div>
								</li>
								<li>
									<div class="widget-thumb">
										<a href="#"><img src="images/blog-mini-03.jpg" alt="" /></a>
									</div>
									<div class="widget-content">
										<h5><a href="#">How To Download The Google Fonts Catalog</a></h5>
										<span>Jul 29 2013</span>
									</div>
									<div class="clearfix"></div>
								</li>
							</ul>
						</div>
						-->
						<!-- Video Widget -->
                        <!--
						<div class="widget">
							<h4>Video <span class="head-line"></span></h4>
							<div>
								<iframe src="http://player.vimeo.com/video/63322694?byline=0&amp;portrait=0&amp;badge=0" width="800" height="450"></iframe>
							</div>
						</div>
                         -->

						
						<!-- Tags Widget -->
                        <!--
						<div class="widget widget-tags">
							<h4>Tags <span class="head-line"></span></h4>
							<div class="tagcloud">
								<a href="#">Portfolio</a>
								<a href="#">Theme</a>
								<a href="#">Mobile</a>
								<a href="#">Design</a>
								<a href="#">Wordpress</a>
								<a href="#">Jquery</a>
								<a href="#">CSS</a>
								<a href="#">Modern</a>
								<a href="#">Theme</a>
								<a href="#">Icons</a>
								<a href="#">Google</a>
							</div>
						</div>
						-->

					</div>