<div class="col-sm-4">
              <div class="primary-sidebar">


                  <!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- Place this tag where you want the widget to render. -->
<div class="g-person" data-width="300" data-href="//plus.google.com/u/0/100226680180899190661" data-rel="author"></div>


                  <!--
                <aside class="single-widget">
                  <h2 class="widget-title">CATEGORIES</h2>
                  <ul>
                    <li><a href="#">UX Design<span class="badge">1</span></a>
                    </li>
                    <li><a href="#">UI Design</a>
                    </li>
                    <li><a href="#">HTML</a>
                    </li>
                    <li><a href="#">Audio</a>
                    </li>
                    <li><a href="#">Video</a>
                    </li>
                  </ul>
                </aside>
                -->
                  <hr />
                  <iframe src='http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-142960835291674289' frameborder=0 height=250 width=300></iframe>
                <hr />
                   <a href="http://panel.bullten.net/aff.php?aff=023" target="_blank"><img src="http://panel.bullten.net/images/affiliates/468X60.jpg" width="468" height="60" border="0"></a>
                <!--
                <aside class="single-widget">
                  <h2 class="widget-title">ARCHIVES</h2>
                  <ul>
                    <li><a href="#">March 24, 2015</a>
                    </li>
                    <li><a href="#">April 24, 2015</a>
                    </li>
                    <li><a href="#">May 24, 2015</a>
                    </li>
                    <li><a href="#">June 24, 2015</a>
                    </li>
                    <li><a href="#">July 24, 2015</a>
                    </li>
                  </ul>
                </aside>
                <aside class="single-widget">
                  <h2 class="widget-title">TAGS</h2>
                  <div class="widget-text">
                    <a href="#" class="tags">Art</a>
                    <a href="#" class="tags">Awesome</a>
                    <a href="#" class="tags">Style</a>
                    <a href="#" class="tags">Image</a>
                    <a href="#" class="tags">Design</a>
                    <a href="#" class="tags">Post</a>
                    <a href="#" class="tags">Three</a>
                    <a href="#" class="tags">Typhography</a>
                    <a href="#" class="tags">BDinfosys</a>
                  </div>
                </aside>
                -->
                 <hr />
                 <a class="twitter-timeline" href="https://twitter.com/kdjohar91" data-widget-id="575939129126490112">Tweets by @kdjohar91</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


              </div>
            </div> <!-- ./sidebar end -->