{% extends 'base/base2.html' %}
{% block maincontent %}
<!-- Blog Banner -->
    <section id="banner" class="root-sec brand-bg padd-tb-73 blogpage-banner-wrap">
      <div class="container">
        <div class="row">
          <div class="clearfix blog-banner-text">
            <div class="col-sm-8 col-md-8 col-lg-8">
              <h2 class="title" style="margin-bottom: 00px;">{% if title %}{{title}}{% else %}{{blog.title}}{% endif %}</h2>

            </div>
          </div>
        </div>
      </div>
    </section> <!-- Banner end -->

    <!-- Blog Post Container -->
    <section class="bottom-50 root-sec grey lighten-5 blogpage-posts-wrap">
      <div class="container">
        <div class="row">
        <!-- google add sense -->
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- allblogs-header -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-6195276590359835"
                 data-ad-slot="7409844107"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        <br />
        <!-- google add sense -->
          <div class="clearfix all-blog-post blog-inner with-sidebar">
            <div class="col-sm-8">
              <div class="row" id="blog-posts">
                {% for blog in blogs %}
                <article class="col-xs-12 col-sm-12 col-md-6 single-card-box single-post">
                  <div class="card">
                    <div class="card-image">
                      <div class="card-img-wrap">

                        <div class="post-body">
                          <a href="{{ blog.get_absolute_url }}" class="post-title-link brand-text"><h2 class="post-title">{{blog.title}}</h2></a>
                          <font size="3" color="#0BD4E5">Posted on - </font><font size="2" color="#0BD4E5">{{blog.date}} </font>
                          <hr />
                          <p class="post-content">{{blog.body|safe|escape|truncatewords_html:35}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix card-content">
                      <a href='http://www.facebook.com/sharer.php?u={{blog.get_absolute_url}}' class="left" title="Share on Facebook" style="margin-right: 25px;"><i class="fa fa-facebook"></i><span class="numb"></span></a>
                      <a href="https://twitter.com/intent/tweet?url={{blog.get_absolute_url}}&text={{blog.title}}&via=kdjohar91" class="left" title="Share on Twitter" style="margin-right: 25px;"><i class="fa fa-twitter"></i><span class="numb"></span></a>
                      <a href="https://plus.google.com/share?url={{blog.get_absolute_url}}" class="left" title="Share on Google+" style="margin-right: 25px;"><i class="fa fa-google-plus"></i><span class="numb"></span></a>
                      <a href="{{ blog.get_absolute_url }}" class="brand-text right waves-effect">read more</a>
                    </div>
                  </div>
                </article> <!--./single post-->
                  {% endfor %}

              </div>
            </div>

            <!-- Sidebar -->
           {% include 'sidebar.html' %}
          </div>
        </div>
      <!-- google add sense -->
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- allblogs-base -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6195276590359835"
             data-ad-slot="2560842109"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      <!-- google add sense -->

      </div> <!-- ./container end -->
    </section> <!-- ./Blog Post container end-->

{% endblock %}