{% extends 'base/base.html' %}
{% load staticfiles %}
{% block contents %}
        <div class="blog-post gallery-post">

      <!-- Start Single Post (Gallery Slider) -->

    <!-- End Single Post (Gallery) -->

    <!-- Start Single Post Content -->
    <div class="post-content">
     <div class="post-type"><i class="fa fa-picture-o"></i></div>
     <h2>{{ blog.title }}</h2>
     <ul class="post-meta">

       <li>{{blog.date}}</li>
       <li>{{blog.time}}</li>

     </ul>
        <br />
     {{blog.body|safe|escape}}

     <div class="post-bottom clearfix">
      <div class="post-tags-list">
        <a href="#">Theme</a>
        <a href="#">Mobile</a>
        <a href="#">Design</a>
        <a href="#">Wordpress</a>
        <a href="#">Jquery</a>
      </div>
      <div class="post-share">
        <span>Share This Post:</span>
        <span class='st_googleplus' displayText='Google +'></span>
        <span class='st_facebook' displayText='Facebook'></span>
        <span class='st_twitter' displayText='Tweet'></span>
        <span class='st_linkedin' displayText='LinkedIn'></span>
        <span class='st_pinterest' displayText='Pinterest'></span>
        <span class='st_email' displayText='Email'></span>
      </div>
    </div>

 </div>
 <!-- End Single Post Content -->


</div>

{% endblock %}

