{% extends 'base/base2.html' %}
{% load staticfiles %}
{% block main_content %}

<section id="all-posts" class="root-sec grey lighten-5 blogpage-posts-wrap">
      <div class="container">
        <!-- add sense -->
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- blog-header -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6195276590359835"
         data-ad-slot="3897974502"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
        <!-- add sense -->

        <div class="row">
          <div class="clearfix all-blog-post blog-inner with-sidebar">

          <!-- post container start-->
            <div class="col-sm-8">
              <article class="single-post-page">

                <div class="single-post-content">
                    {{blog.body|safe|escape}}
                </div>
                <!--<div class="clearfix post-footer">

                  <ul class="clearfix centre share-post">
                    <li><a href='http://www.facebook.com/sharer.php?u={{blog.get_absolute_url}}'><img src="{% static 'images/facebook.png' %}"></a>
                    </li>
                    <li><a href='http://www.facebook.com/sharer.php?u={{blog.get_absolute_url}}'><img src="{% static 'images/google.png' %}"></a>
                    </li>
                    <li><a href='http://www.facebook.com/sharer.php?u={{blog.get_absolute_url}}'><img src="{% static 'images/linkedin.png' %}"></a>
                    </li>
                    <li><a href='http://www.facebook.com/sharer.php?u={{blog.get_absolute_url}}'><img src="{% static 'images/twitter.png' %}"></a>
                    </li>
                    <li><a href='http://www.facebook.com/sharer.php?u={{blog.get_absolute_url}}'><img src="{% static 'images/email.png' %}"></a>
                    </li>

                  </ul>
                </div>-->


                <div class="contact-form  comment-reply-form">
                    <!--
                  <h2 class="com-title">Leave a Reply<a href="#">Cancel Replay</a></h2>
                  <form action="#" class="cform-wrapper">
                    <div class="input-field">
                      <input id="name" type="text" class="validate input-box">
                      <label for="name" class="input-label">Name*</label>
                    </div>
                    <div class="input-field">
                      <input id="email" type="email" class="validate input-box">
                      <label for="email" class="input-label">Email*</label>
                    </div>
                    <div class="input-field">
                      <input id="website" type="text" class="validate input-box">
                      <label for="website" class="input-label">Website</label>
                    </div>
                    <div class="input-field textarea-input">
                      <textarea id="comment" class="materialize-textarea" style="height: 22px;"></textarea>
                      <label for="comment" class="input-label">Comment</label>
                    </div>
                    <div class="input-field submit-wrap">
                      <button type="submit" class="waves-effect waves-light btn-large brand-bg white-text comm-submit regular-text">SEND MESSAGE</button>

                    </div>
                  </form>
                </div>-->
              </article>
            </div> <!-- ./post container end-->

            <!-- Sidebar start-->
            {% include 'base/sidebar.html' %}
          </div>
        </div>
      </div> <!-- ./container end-->
    </section>  <!-- ./Blog Post Container end-->

{% endblock %}