{% extends 'base/base.html' %}
{% block contents %}
{% for category in categories %}
        <!-- Start Call Action -->
					<div class="call-action call-action-boxed call-action-style2 clearfix">
						<!-- Call Action Button -->

						<!-- Call Action Text -->
						<h2 class="primary"><strong><a href="{{category.get_absolute_url}}">{{category.name}}</a></strong> </h2>
					</div>
					<!-- End Call Action -->

					<!-- Divider -->
					<div class="hr1" style="margin-bottom:40px;"></div>

{% endfor %}

{% endblock %}