{% extends 'base/base1.html' %}
{% load staticfiles %}
        {% block maincontent %}
    
    <section id="contact" class="scroll-section root-sec brand-bg padd-tb-120 contact-wrap">
      <div class="container">
        <div class="row">
          <div class="contact-inner">
            <div class="col-sm-12 card-box-wrap">
              <div class="row">
                <div class="clearfix section-head contact-text">
                  <div class="col-sm-12">
                    <h2 class="title">Contact</h2>

                </div> <!-- contact text end -->

                <div class="clearfix contact-form">

                <!-- Map Start -->
                  <div class="col-sm-2">
                    <div class="map-wrapper">
                      <ul class="collection with-header">
        <li class="collection-header"><h4>Connect me on</h4></li>
        <li class="collection-item"><a href="https://www.facebook.com/karandeepsingh.johar"><img src="http://res.cloudinary.com/kdjohar/image/upload/v1430312635/facebook_kyyfrd.png"></a></li>
        <li class="collection-item"><a href="https://twitter.com/kdjohar91"><img src="http://res.cloudinary.com/kdjohar/image/upload/v1430312634/twitter_peslsw.png"></a></li>
        <li class="collection-item"><a href="https://plus.google.com/+KarandeepSinghJohar"><img src="http://res.cloudinary.com/kdjohar/image/upload/v1430312634/google_eewyhi.png"></a></li>

      </ul>
                    </div>
                  </div> <!-- Map end -->

                <!-- Contact Form start -->
                  <div class="col-sm-9">
                    <div class="clearfix card-panel grey lighten-5 cform-wrapper">
                      <form action="#" id="contactForm" novalidate>
                        <div class="input-field">
                          <input id="contact_name" type="text" name="contactName" class="validate input-box">
                          <label for="contact_name" class="input-label">Name</label>
                        </div>
                        <div class="input-field">
                          <input id="email" type="email" name="contactEmail" class="validate input-box">
                          <label for="email" class="input-label">Email</label>
                        </div>
                        <div class="input-field">
                          <input id="subject" type="text" name="contactSubject" class="validate input-box">
                          <label for="subject" class="input-label">Subject</label>
                        </div>
                        <div class="input-field textarea-input">
                          <textarea id="textarea1" name="contactMessage" class="validate materialize-textarea" style="height: 22px;"></textarea>
                          <label for="textarea1" class="input-label">Message</label>
                        </div>
                        <div class="input-field submit-wrap clearfix">
                          <button type="submit" class="left waves-effect btn-flat brand-text submit-btn">send message</button>
                          <div class="right form-loader-area">
                            <svg class="circular size-20" height="20" width="20">
                              <circle class="path" cx="10" cy="10" r="7" fill="none" stroke-width="3" stroke-miterlimit="10" />
                            </svg>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div> <!-- ./contact form end -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- ./container end -->
      </div>
      </div>
    </section>
   {% endblock %}